
.nombreAutor{
    color: #97A09D;
}

.detalleLibro {
    border: 1px solid #4B8078;
}

.nombreDetalleLibro {
    color : white; 
    width: 100%; 
    border: 1px solid #4B8078; 
    background-color: #4B8078;
}

.listaLibros:hover {
    background-color: #00C9AE;
    color: white;
}

.container
{
    background-image: url();
    background-color: #C3FCF1;
    
}

.pBuscar {
    display: inline;
}
